 * {
     margin: 0;
     padding: 0;
 }

 .bigbox {
     position: relative;
     width: 1070px;
     height: 800px;
     border: 1px solid red;
     margin: 100px auto 0;
 }

 .box {
     width: 260px;
     height: 260px;
     position: absolute;
 }

 .box img {
     width: 100%;
 }

 .box1 {
     top: 0;
     left: 0;
 }

 .box2 {
     top: 0;
     left: 270px;
     height: 530px;
 }

 .box3 {
     top: 0;
     right: 270px;
 }

 .box4 {
     top: 0;
     right: 0;
 }

 .box5 {
     top: 270px;
     left: 0;
 }

 .box6 {
     width: 530px;
     top: 270px;
     right: 0;
 }

 .box7 {
     bottom: 0;
     left: 0;
 }

 .box8 {
     width: 530px;
     bottom: 0;
     left: 270px;
 }

 .box9 {
     bottom: 0;
     right: 0;
 }


 .box::before {
     content: '';
     position: absolute;
     width: 0%;
     height: 100%;
     left: 0;
     top: 0;
     background-color: rgba(0, 0, 255, 0.7);
     transition: all 0.5s;
 }

 .box:hover::before {
     width: 100%;
 }

 .box6::before {
     width: 100%;
     height: 0%;
 }

 .box6:hover::before {
     height: 100%;
 }

 .box p {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     color: white;
     text-align: center;
     padding-top: 30%;
     box-sizing: border-box;
     background: url('../images/more.png') no-repeat 50% 70%;
     opacity: 0;
     transition: all 0.5s;
 }

 .box:hover p {
     opacity: 1;
 }

 .box2 p {
     padding-top: 80%;
     background: url(../images/more.png) no-repeat 50% 60%;
 }

 .box6 p,
 .box8 p {
     padding-top: 15%;
     background: url(../images/more.png) no-repeat 50% 60%;
 }