* {
    margin: 0;
    padding: 0;
}

.bigbox {
    width: 1280px;
    height: 800px;
    border: 1px solid red;
    position: relative;
    margin: 100px auto 0;
}

.box img {
    width: 100%;
    z-index: 1;
    transition: all 1s ease;
}

.box {
    position: absolute;
    overflow: hidden;
}

.box1 {
    width: 630px;
    height: 800px;
}

.box2,
.box4 {
    width: 315px;
    height: 245px;
}

.box2 {
    left: 640px;
}

.box3 {
    width: 315px;
    height: 500px;
    left: 965px;
}

.box4 {
    top: 255px;
    left: 640px;
}

.box5 {
    width: 640px;
    height: 290px;
    bottom: 0;
    left: 640px;
}

.box:not(.box1):hover img {
    transform: scale(1.12);
}

.box:not(.box1)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0);  */
    transition: all 1s;
}

.box:not(.box1):hover::before {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.box p {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
}

.a1 {
    font-size: 2rem;
    color: white;
    padding-top: 85%;
}

.a2,
.a3,
.a4,
.a5 {
    font-size: 1.1rem;
    color: white;
}

.a2,
.a3 {
    padding-top: 55%;
    padding-right: 30%;
    text-align: left;
}

.a4_1 {
    font-size: 0.8rem;
}

.box3 .a4,
.box5 .a5 {
    color: black;
}

.a4 {
    padding-top: 135%;
}

.a5 {
    padding-top: 33%;
    padding-right: 70%;
}

.box2:hover p,
.box4:hover p {
    opacity: 0;
    padding-top: 60%;
}

.box3:hover p {
    opacity: 0;
    padding-top: 140%;
}

.box5:hover p {
    opacity: 0;
    padding-top: 38%;
}

h4,
h5 {
    position: absolute;
    left: 0;
    color: white;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    font-weight: 500;
    opacity: 0;
    z-index: 3;
}

h4 {
    top: 40%;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
}

h5 {
    top: 60%;
    left: 50%;
    font-size: 1.1rem;
    border: 1px solid white;
    width: 150px;
    border-radius: 20px;
    padding: 5px 0;
    transform: translate(-50%, 50%);
}

.box:hover h4 {
    opacity: 1;
    top: 20%;
}

.box:hover h5 {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.arrow {
    position: absolute;
    right: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.detail {
    display: inline-block;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button:hover .detail {
    transform: translateX(-10px);
}

.button:hover .arrow {
    opacity: 1;
    right: 15px;
}

h4#a1 {
    top: 50%;
}

.box4:hover #a1 {
    top: 30%;
}

h4#a2 {
    top: 40%;
}

.box3:hover #a2 {
    top: 35%;
}

.main_button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
    transition: all 0.5s;
    z-index: 2;
}

.main_button:hover {
    border: 1px solid rgb(87, 87, 217);
    color: rgb(87, 87, 217);
    background-color: white;
}

.box1 img {
    transition: transform 1s ease;
}

.box1:has(.main_button:hover) img {
    transition-delay: 2s;
    transform: scale(1.2);
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(87, 87, 217, 1);
    background-color: rgba(87, 87, 217, 1);
    border-radius: 50%;
    bottom: 8%;
    left: 42%;
    /* transform: translate(-50%, -50%);  */
    z-index: 1;
    opacity: 0;

    /* transform: scale(1, 1); */
    /* transition: all 3s ease; */
    pointer-events: none;
}

.main_button:hover~.circle1 {
    animation: ripple 2s linear 0.5s forwards;
}

.main_button:hover~.circle2 {
    animation: ripple 2s linear 1s forwards;
}

.main_button:hover~.circle3 {
    animation: ripple 2s linear 1.5s forwards;
}


@keyframes ripple {
    0% {

        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(2);
        opacity: 0.3;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}