* {
    margin: 0;
    padding: 0;
}



.title {
    width: 1136px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.etc {
    color: rgb(72, 147, 245);
    font-size: 20px;
}

.content {
    width: 1136px;
    height: 540px;
    border: 1px solid #333;
    margin: 30px auto;
}

.box {
    width: 269px;
    height: 383px;
    float: left;
    margin-right: 20px;
}

.box4 {
    margin-right: 0;
}

.box_img {
    width: 269px;
    height: 269px;
}

.box_img1 {
    background-image: url(../images/a1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transition: all 0.3s;
}

p {
    margin: 5px;
    margin-left: 0;
}

.txt1 {
    font-size: 12px;
    color: rgb(88, 87, 87);
}

.txt2 {
    font-size: 13px;
    color: rgb(31, 31, 31);
    transition: all 0.3s;
}

.txt3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.percent {
    color: rgb(59, 189, 240)
}

.txt4 {
    font-size: 13px;
    font-weight: bold;
}

.star {
    color: rgb(59, 189, 240);
}

.review {
    color: rgb(88, 87, 87);
}

.sale {
    display: inline-block;
    font-size: 10px;
    background-color: rgb(243, 71, 71);
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
}

.free {
    display: inline-block;
    font-size: 10px;
    background-color: rgb(219, 213, 213);
    color: rgb(83, 80, 80);
    padding: 2px 2px;
    border-radius: 5px;
}

.card {
    display: inline-block;
    font-size: 12px;
    border: 1px solid rgb(221, 216, 216);
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 10px;
    padding: 2px 2px;
    border-radius: 5px;
}

.box1:hover .box_img1 {
    background-size: 110% 110%;
}

.box1:hover .txt2 {
    color: grey;
}

.box_img2 {
    background-image: url(../images/a2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.box2:hover .box_img2 {
    background-size: 110% 110%;
}

.box2:hover .txt2 {
    color: grey;
}

.box_img3 {
    background-image: url(../images/a3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.box3:hover .box_img3 {
    background-size: 110% 110%;
}

.box3:hover .txt2 {
    color: grey;
}

.box_img4 {
    background-image: url(../images/a4.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.box4:hover .box_img4 {
    background-size: 110% 110%;
}

.box4:hover .txt2 {
    color: grey;
}

.lightning {
    background-color: purple;
    border-radius: 50%;
    color: white;
}

.today {
    color: purple;
    font-weight: bold;
    font-size: 0.8rem;
}

.bill {
    font-size: 0.7rem;
    color: rgb(76, 146, 211);
}