#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid white;  */
    /* padding-bottom: 50px;
    padding-left: 20px; */
    border: none;
}

div {
    border: 1px dotted white;
    padding: 20px;
    margin: 20px;
}

#description {
    border-radius: 30px 30px 0 0;
}

#package {
    border-radius: 0 0 30px 30px;
}

table {
    border: 1px solid white;
}

th,
td {
    border: 1px solid white;
}