* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 18px/1.5 "Helvetica Neue", sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.flex-wrapper {
    display: flex;
    height: 100%;
}

.flex-wrapper a {
    position: relative;
    flex: 1;
    transition: all 0.4s;
}

.flex-wrapper a.one {
    background-color: red;
    background: url(../images/a1.jpg) no-repeat 50% 50% / cover;
}

.flex-wrapper a.two {
    background-color: green;
    background: url(../images/a2.jpg) no-repeat 50% 50% / cover;
}

.flex-wrapper a.three {
    background-color: steelblue;
    background: url(../images/a3.jpg) no-repeat 50% 50% / cover;
}

.flex-wrapper a.four {
    background-color: orange;
    background: url(../images/a4.jpg) no-repeat 50% 50% / cover;
}

.flex-wrapper a.five {
    background-color: tomato;
    background: url(../images/a5.jpg) no-repeat 50% 50% / cover;
}

.flex-wrapper a:hover {
    flex: 3;
}

.flex-wrapper .overlay {
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrapper a:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.flex-wrapper a .overlay-inner * {
    color: #fff;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.flex-wrapper a .overlay-inner h2 {
    transform: translateY(-60px);
}

.flex-wrapper a .overlay-inner p {
    transform: translateY(-60px);
}

.flex-wrapper a:hover .overlay-inner * {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s 0.3s;
    transform: translateY(0);
}

@media screen and (max-width:800px) {
    .flex-wrapper {
        flex-direction: column;
    }

    .flex-wrapper a:hover {
        flex: 1;
    }

    .flex-wrapper a:hover .overlay {
        background-color: transparent;
        /* 투명색 */
    }

    .flex-wrapper a .overlay-inner h2,
    .flex-wrapper a .overlay-inner p {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}