* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* =====================
   Header
===================== */
header {
    width: 100%;
    height: 140px;
    border-top: 3px solid green;
    position: relative;
    text-align: center;
}

/* header 하단 고정 라인 */
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: grey;
    z-index: 200;
}

.logo {
    padding-top: 30px;
}

/* =====================
   Navigation
===================== */
nav {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    z-index: 99;
}

/* 1depth */
nav>ul {
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    transition: all 0.35s;
}

nav>ul:hover {
    height: 330px;
    margin-bottom: 1px;
    border-bottom: 1px solid grey;
    background-color: white;
}

nav>ul>li {
    display: inline-block;
    vertical-align: top;
}

nav>ul>li>a {
    padding: 0 40px;
    font-size: 1.1rem;
    font-weight: bold;
}

/* 2depth */
nav ul li ul li a {
    display: block;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    color: grey;
}

nav ul li ul li:first-child a {
    margin-top: 20px;
}

/* Hover effects */
nav>ul>li:hover>a {
    color: green;
}

nav ul li ul li a:hover {
    color: green;
    text-decoration: underline;
}

/* =====================
   Section / Slide
===================== */
section {
    width: 1920px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

section img {
    width: 100%;
}

/* =====================
   Floating Buttons
===================== */
.store,
.question {
    position: absolute;
    width: 200px;
    height: 50px;
    bottom: -20px;
}

.store {
    right: 250px;
    background-color: #ffce32;
    border-top-left-radius: 20px;
}

.question {
    right: 50px;
    background-color: #009223;
    border-bottom-right-radius: 20px;
}

/* =====================
   Text
===================== */
.text {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.store1 {
    color: black;
}

.question1 {
    color: white;
}