* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    height: 80px;
    position: relative;
    border-top: 3px solid green;
}

header h2 {
    width: 202px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header h2 img {
    display: block;
    width: 100%;
}

nav {
    width: 100%;
    height: 50px;
    position: relative;
    text-align: center;
}

nav>ul {
    width: 100%;
    height: 50px;
    background-color: #999;
    overflow: hidden;
    transition: all 0.35s;
}

nav>ul:hover {
    height: 220px;
}

nav>ul>li {
    display: inline-block;
    vertical-align: top;
}

nav ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 0.875rem;
}

nav>ul>li>a {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

nav ul li ul li a:hover {
    background-color: yellow;
}