* {
    margin: 0;
    padding: 0;
}

.content {
    width: 1440px;
    height: 500px;
    /* border: 1px solid #333;  */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.content .box {
    width: 280px;
    height: 480px;
    float: left;
    margin-right: 10px;
}

.content .box5 {
    margin-right: 0;
}

.box .imgbox {
    width: 280px;
    height: 350px;
    margin-bottom: 10px;
}

.imgbox img {
    display: block;
    width: 100%;
}

.imgbox img:nth-child(1) {
    display: block;
}

.imgbox img:nth-child(2) {
    display: none;
}

.imgbox:hover img:nth-child(1) {
    display: none;
}

.imgbox:hover img:nth-child(2) {
    display: block;
}

p {
    padding-top: 7px;
}

.box .txt1 {
    font-weight: bold;
}

.box .txt2 .t1 {
    color: palevioletred;
}

.txt2 del {
    font-size: 12px;
    color: grey;
}

.txt3 span {
    color: green;
}

.box .txt4 {
    font-size: 13px;
}

.txt4 .tt1 {
    font-weight: bold;
}

.txt4 .tt2 {
    color: grey;
}

.txt1:hover {
    text-decoration: underline;
    cursor: pointer;
}