* {
    margin: 0;
    padding: 0;
}

.contents {
    width: 100%;
    height: 530px;
    background-image: url(../imgs/intro_bg.png);
}

.title {
    font-size: 3rem;
}

.title2 {
    font-size: 1.05rem;
}

.section1 {
    width: 1440px;
    height: 430px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.section1 .left {
    width: 340px;
    float: left;
}

.section1 .left img {
    padding-top: 100px;
}

.section1 .right {
    width: 1100px;
    height: 430px;
    float: left;
    /* background-color: aqua;  */
}

.r_top img {
    padding: 30px;
}

.r_top .text1 {
    color: #003b5a;
    padding-bottom: 10px;
}

.r_top .text2 {
    line-height: 150%;
}

.r_bottom ul {
    width: 800px;
    margin: 30px auto;
    list-style: none;
}

.r_bottom ul li {
    float: left;
    width: 190px;
    height: 250px;
}

.r_bottom ul li a {
    display: block;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.r_bottom ul li a img:nth-child(1) {
    display: block;
}

.r_bottom ul li a img:nth-child(2) {
    display: none;
}

.r_bottom ul li a:hover img:nth-child(1) {
    display: none;
}

.r_bottom ul li a:hover img:nth-child(2) {
    display: block;
}

/* section2 */

.section2 {
    width: 1440px;
    height: 430px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.boxlist {
    padding-top: 50px;
    display: flex;
    height: 450px;

}

.box {
    width: 20%;
    height: 400px;
    border: 1px solid black;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.box img {
    padding-top: 50px;
    padding-bottom: 30px;
}

.number {
    display: inline-block;
    color: white;
    width: 8%;
    background-color: #003e73;
    padding: 10px;
    border-radius: 50%;
}

.a {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.15rem;
    color: #003e73;
}

.b {
    padding: 10px;
}

.section2_bottom {
    height: 200px;
}

.paragraph {
    color: #003e73;
    font-size: 1.5rem;
}

.button {
    margin-top: 20px;
    width: 300px;
    display: inline-block;
    background-color: #003b5a;
    color: white;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #003b5a;
    border: 1px solid #003b5a;
}