* {
    margin: 0;
    padding: 0;
}

header {
    width: 600px;
    height: 150px;
    background-color: hotpink;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 600px;
    height: 60px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav ul li a {
    display: block;
    width: 150px;
    height: 60px;
    line-height: 60px;
    color: #333;
    text-align: center;
    background-color: pink;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
}

main {
    width: 600px;
    height: 400px;
    background-color: tan;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}