* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

#img_slider {
    width: 640px;
    margin: 0 auto;
    position: relative;
}

#btn p {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

#btn p.left_btn {
    left: 20px;
}

#btn p.right_btn {
    right: 20px;
}

#btn p i {
    font-size: 30px;
    color: #000;
}

#btn p i:hover {
    color: #bbb;
}

.slider li {
    position: relative;
}

.slider li h1 {
    position: absolute;
    left: 20px;
    top: 60px;
    opacity: 0;
    transition: all 0.6s;
    z-index: 999;
    transform: translateY(60px);
}

.slider li h1.on {
    opacity: 1;
    z-index: 999;
    transform: translateY(0px);
}