.footer {
  background-color: #0b1220;
}

.footer-link {
  color: #adb5bd;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  transition: 0.3s;
}

.footer-link:hover {
  color: white;
  padding-left: 5px;
}
