* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

main {
    height: 550px;

}

header {
    height: 200px;
    background-color: #f46075;
}

header h1 {
    float: left;
    color: #fff;
    margin-left: 50px;
    margin-top: 65px;
}

header .logo {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

nav {
    height: 60px;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

nav ul li a {
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: pink;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #f46075;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
}

section {
    width: 650px;
    height: 550px;
    float: left;
    background-color: skyblue;
}

section article {
    width: 280px;
    height: 180px;
    border: 1px solid #000;
    font-size: 13px;
    float: left;
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

section h2 {
    text-align: center;
    padding: 10px;
}


section p {
    text-align: justify;
}

aside {
    width: 250px;
    height: 550px;
    float: left;
    background-color: #ffffcc;
    text-align: center;
}

aside h2 {
    padding: 10px 0;
}

aside img {
    padding-bottom: 10px;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
}