* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 235, 235);
    min-height: 100vh;
}

.container {
    max-width: 1800px;
    margin: 100px auto;
    height: 500px;
    background-color: rgb(213, 213, 213);
}

h1,
h3 {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.card-container {
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: stretch;
}

.card {
    flex: 1 1 250px;
    background: white;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid rgb(194, 193, 193);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card-title,
.card-description {
    text-align: center;
    padding: 3px;
}

.card-title {
    font-size: 1.2rem;
}

.card-description {
    font-size: 0.9rem;
    padding-bottom: 10px;
    color: grey;
}