* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
}

#wrap {
    width: 60%;
    margin: 50px auto;
    position: relative;
    border: 5px solid red;
}

#wrap .slide {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.slide .imgs {
    width: 700%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.slide .imgs li {
    width: 14.2857%;
    float: left;
    height: 100%;
}

.slide .imgs li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#wrap p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
}

#wrap p.next {
    right: 0;
}

#wrap p.prev {
    left: 0;
}

#wrap .pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

#wrap .pager li {
    float: left;
    margin: 0 15px;
}

#wrap .pager li a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #fff;
}

#wrap .pager li.on a {
    background-color: black;
}