* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 900px;
    /* height: 100vh;  */
    margin: 0 auto;
    background-color: aqua;
}

header {
    width: 900px;
    height: 300px;
    background-image: url(../images/top.jpg);
}

.title {
    color: white;
    float: right;
    margin-top: 220px;
    margin-right: 50px;
}

nav {
    width: 900px;
    height: 65px;
    background-color: rgb(41, 28, 10)
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 65px;
}

nav ul li a {
    display: block;
    width: 100px;
    height: 65px;
    line-height: 65px;
    /* border: 1px solid black;  */
    color: white;
    text-align: center;
}

main {
    width: 900px;
    height: auto;
    display: flex;
}

section {
    width: 600px;
    height: 500px;
    background-color: grey;
}

section h3 {
    text-align: center;
    margin-top: 10px;
}

.box {
    width: 250px;
    height: 180px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.bean {
    /* display: block; */
    /* height: 40px;  */
    padding-left: 25px;
    line-height: 30px;
    background: url(../images/14.png) no-repeat;
    background-size: 10%;
    background-position: 0% 50%;
}

.box p {
    line-height: 30px;
    font-size: 14px;
}

aside {
    width: 300px;
    height: 500px;
    background-color: #726054;
}

aside h3 {
    text-align: center;
    margin-top: 10px;
}

.imgbox1 {
    width: 250px;
    height: 140px;
    background: url(../images/c1.jpg) no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 25px;
}

.imgbox2 {
    width: 250px;
    height: 140px;
    background: url(../images/c2.jpg) no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 25px;
}

.imgbox3 {
    width: 250px;
    height: 140px;
    background: url(../images/c3.jpg) no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 25px;
}

footer {
    width: 900px;
    height: 80px;
    background-color: #333333;
}

footer p {
    line-height: 80px;
    text-align: center;
    color: white;
}