* {
    margin: 0;
    padding: 0;
}

.bigbox {
    width: 1000px;
    margin: 10px auto;
    border: 5px solid tan;
    overflow: hidden;
    padding: 20px 0 20px 0;
}

ul {
    list-style: none;
}

.bigbox .box {
    float: left;
    margin-left: 40px;
    border: 1px solid tan;
    width: 200px;
    height: 150px;
    position: relative;
}

.bigbox .box img {
    display: block;
    width: 100%;
}

.bigbox .box::before {
    content: "";
    /* 빈글자 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

.bigbox .box:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.box .p1 {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #fff;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all 0.5s;
}

.box .p2 {
    position: absolute;
    top: 80px;
    left: 50px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 20px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: all 0.4s 0.1s;
}

.box:hover .p1 {
    transform: translate(0, 0);
    opacity: 1;
}

.box:hover .p2 {
    transform: translate(0, 0);
    opacity: 1;
}