* {
    margin: 0;
    padding: 0;
}

.bigbox {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 1px dotted black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.face {
    width: 500px;
    height: 450px;
    position: absolute;
    bottom: 0;
    background-color: #d59729;
    border-radius: 50%;
    border: 10px solid #333;
    box-sizing: border-box;
}

.ear {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #d59729;
    border-radius: 50%;
    border: 10px solid #333;
    box-sizing: border-box;
    top: 20px;
}

.ear.left {
    left: 40px;
}

.ear.right {
    right: 40px;
}

.eyebrow {
    width: 100px;
    height: 20px;
    border: 1px solid #333;
    position: absolute;
    top: 120px;
    background-color: #000;
    border-radius: 7px;
}

.eyebrow.left {
    left: 100px;
}

.eyebrow.right {
    right: 100px;
}

.eyeball {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    position: absolute;
    top: 190px;
    background-color: #000;
    border-radius: 50%;
}

.eyeball.left {
    left: 135px;
}

.eyeball.right {
    right: 135px;
}

.nose {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    position: absolute;
    bottom: 160px;
    left: 50%;
    margin-left: -20px;
    /* 정중앙 정렬을 할땐 반지름 값만큼 이동시킴 */
    background-color: #000;
    border-radius: 50%;
    z-index: 1;
}

.mouth {
    width: 80px;
    height: 74px;
    border: 10px solid black;
    position: absolute;
    top: 240px;
    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
}

.mouth.left {
    left: 175px;
}

.mouth.right {
    right: 175px;
}

.mouth_cover {
    position: absolute;
    width: 37px;
    height: 40px;
    background-color: white;
    top: 2px;
    transform: rotate(45deg);
}

.mouth_cover.left {
    left: 45px;
}

.mouth_cover.right {
    right: 42px;
}